In [ ]:
# LIST DATATYPE ASSIGNMENT - 50 QUESTIONS
# ======================================

# SOLVED EXAMPLE
# --------------
# Question: Find the maximum and minimum values in a list
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [18]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")
list1 = []
for i in range(1,11):
    list1.append(i*i)
print(list1)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for i in list1:
    if i %2 == 0:
        sum += i
print(sum)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
6

In [ ]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
list1 = [1, 2, 2, 3,4,5, 5, 6, 6, 7]
list2 = []
for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
None

In [40]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
# Method 1
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
list1 =[64, 34, 25, 12, 22, 11, 90]
list1.sort()
print(list1[::-1])

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[90, 64, 34, 25, 22, 12, 11]

In [41]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
# Method 2
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
list1 =[64, 34, 25, 12, 22, 11, 90]
list1.sort(reverse = True)
print(list1)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[90, 64, 34, 25, 22, 12, 11]

In [49]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
list1 = [15, 23, 31, 42, 56, 78, 91]
tot_sum = 0
for i in list1:
    tot_sum += i
avg = tot_sum/len(list1)
print(avg)

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
48.0

In [57]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
first_num = 0
second_num = 1
list1= []
for i in range(15):
    list1.append(first_num)
    next_num = first_num +second_num
    first_num = second_num
    second_num = next_num
print(list1)

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
# method 1
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
list1 = [45, 67, 23, 89, 12, 34, 78]
list1.sort()
print(list1)
print(list1[-2])

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
[12, 23, 34, 45, 67, 78, 89]
78

In [66]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
# method 2
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
list1 = [45, 67, 23, 89, 12, 34, 78]
largest = -1
second_largest = -1
for i in list1:
    if i > largest:
        second_largest = largest
        largest = i
    elif i> second_largest and i != largest:
        second_largest = i
print(second_largest)

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
78

In [ ]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Method 1
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1.reverse()
print(list1)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [76]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Method 2
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rev_list = list1[::-1]
print(rev_list)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [77]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
list1 = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count = 0
for i in list1:
    if i == 5:
        count += 1
print(count)

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
4

In [83]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
list1 = []
for i in range(2,51):
    is_prime =True
    for j in range(2,i):
        if i%j == 0:
            is_prime = False
            break
    if is_prime == True:
        list1.append(i)
print(list1)

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [88]:

# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list2 =[]
for i in list1:
    list2.extend(i)
print(list2)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
list1 = [1, 2, 3, 4, 5] 
list2 = [4, 5, 6, 7, 8]
list3= []
for i in list1:
    if i in list2:
        list3.append(i)
print(list3)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
[4, 5]

In [ ]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
# method 1
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
list1 = [[1, 2], [3, 4], [5, 6]]
print(list1)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [ ]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
# method 2  using loops 
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
list1 = []
num = 1
for i in range(1,6,2):
    list1.append([num,num+1])
    num += 2
print(list1)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [99]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
# method 3 without using  numbers and using loops 
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
list1 = []
for i in range(1,6,2):
    list1.append([i,i+1])
print(list1)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [107]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list2 = []
for i in list1:
    sub_sum =0
    for j in i:
        sub_sum += j
    list2.append(sub_sum)
print(list2)

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[6, 15, 24]

In [118]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list2 = []
for i in range(len(list1[0])):
    row = []
    for j in range(len(list1)):
        row.append(list1[j][i])
    list2.append(row)
print(list2)

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [127]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
list1 = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
list2 = []
for i in list1:
    max_value = i[0]
    for j in i:
        if j> max_value:
            max_value = j
    list2.append(max_value)
print(list2)

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
[5, 9, 8]

In [149]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
list1 = []
num = 1
for i in range(2):
    layer = []
    for j in range(2):
        row = []
        for k in range(2):
            row.append(num)
            num += 1
        layer.append(row)
    list1.append(layer)

print(list1)

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [147]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
list1 = []
num =1
for i in range(2):
    layer = []
    for j in range(2):
        row = []
        for k in range(2):
            row.append(num)
            num += 1
        layer.append(row)
    list1.append(layer)

print(list1)

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [150]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
list1 = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
sum =0
for i in list1:
    for j in i:
        for k in j:
            sum += k
print(sum)

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
36

In [153]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list2 = []
for i in list1:
    for j in i:
        if j % 2==0:
            list2.append(j)
print(list2)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[2, 4, 6, 8]

In [154]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list2 = [j for i in list1 for j in i if j % 2 == 0]
print(list2)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[2, 4, 6, 8]

In [14]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
list2 = []
for i in range(5):
    # print()
    list2.append(input(f"Enter {i} item"))

print(list2)

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
['1', 'Hello', '3.14', 'True', '[1,2,3]']

In [17]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
list1 =["apple", "banana", "cherry", "date"]
for i in list1:
    print(f"The length of string '{i}' is {len(i)} ")

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
The length of string 'apple' is 5
The length of string 'banana' is 6
The length of string 'cherry' is 6
The length of string 'date' is 4

In [ ]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
list1 = [(1, 'a'), (2, 'b'), (3, 'c')]
print(list1)

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]

tuple

In [30]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
list1 = [(1, 'a'), (2, 'b'), (3, 'c')]
list2= []
for i in list1:
    list2.append(i[0])
print(list2)

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
[1, 2, 3]

In [37]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
list1 = [{"name":"Alice" , "age" : 25},
         {"name":"Alice" , "age" : 30}
         ]
print(list1)

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
[{'name': 'Alice', 'age': 25}, {'name': 'Alice', 'age': 30}]

In [40]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
list1 = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
list2 =[]
for i in list1:
    list2.append(i['name'])
print(list2)

Question 25: Extract all 'name' values from list of dictionaries
['Alice', 'Bob']

In [46]:
# Question 26: Find the person with maximum age in list of dictionaries
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")
list1 = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30},{'name': 'Abbas', 'age': 38},{'name': 'Babu', 'age': 26}]
max_age= list1[0]
for i in list1:
    if i['age'] > max_age['age']:
        max_age = i
print(max_age)

Question 26: Find the person with maximum age in list of dictionaries
{'name': 'Abbas', 'age': 38}

In [63]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
list1 = []
num1 = 1
for i in range(2):
    layer = []
    for j in range(2):
        depth = []
        for k in range(2):
            row =[]
            for l in range(2):
                row.append(num1)
                num1 +=1
            depth.append(row)
        layer.append(depth)
    list1.append(layer)

print(list1)

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [5]:
# Question 28: Find the maximum value in 4D list
print("\nQuestion 28: Find the maximum value in 4D list")
list1 =[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
max_num = list1[0][0][0][0]
for i in range(2):
    for j in range(2):
        for k in range(2):
            for l in range(2):
                if list1[i][j][k][l] > max_num:
                    max_num = list1[i][j][k][l]
print(max_num)

Question 28: Find the maximum value in 4D list
16

In [1]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")
list1 = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(list1)

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [5]:
# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")
list1 = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
list2 = []
list2 = list1[0] | list1[1] | list1[2]
print(list2)

Question 30: Find the union of all sets in list of sets
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")
# Your code here

In [ ]:
# Question 32: Find the magnitude of each complex number in list
print("\nQuestion 32: Find the magnitude of each complex number in list")
# Your code here

In [ ]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")

In [ ]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")
# Your code here

In [ ]:
# Question 35: Create a list of functions: [len, str, int, float]
print("\nQuestion 35: Create a list of functions: [len, str, int, float]")
# Your code here

In [ ]:
# Question 36: Apply each function in list to string "123"
print("\nQuestion 36: Apply each function in list to string '123'")
# Your code here

In [ ]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
print("\nQuestion 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]")
# Your code here

In [ ]:
# Question 38: Apply each lambda function to 5
print("\nQuestion 38: Apply each lambda function to 5")
# Your code here

In [ ]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
print("\nQuestion 39: Create a list of classes: [list, dict, set, tuple]")
# Your code here

In [ ]:
# Question 40: Create instances of each class in list
print("\nQuestion 40: Create instances of each class in list")
# Your code here

In [ ]:
# Question 41: Create a list of None values: [None, None, None, None]
print("\nQuestion 41: Create a list of None values: [None, None, None, None]")
# Your code here

In [ ]:
# Question 42: Replace all None values with 0 in list
print("\nQuestion 42: Replace all None values with 0 in list")
# Your code here

In [ ]:
# Question 43: Create a list of boolean values: [True, False, True, False]
print("\nQuestion 43: Create a list of boolean values: [True, False, True, False]")
# Your code here

In [ ]:
# Question 44: Count True values in boolean list
print("\nQuestion 44: Count True values in boolean list")
# Your code here

In [ ]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
print("\nQuestion 45: Create a list of ranges: [range(3), range(5), range(2)]")
# Your code here

In [ ]:
# Question 46: Convert each range to list
print("\nQuestion 46: Convert each range to list")
# Your code here

In [ ]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
print("\nQuestion 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]")
# Your code here

In [ ]:
# Question 48: Convert each generator to list
print("\nQuestion 48: Convert each generator to list")
# Your code here

In [ ]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
print("\nQuestion 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]")
# Your code here

In [ ]:
# Question 50: Extract all elements from each iterator
print("\nQuestion 50: Extract all elements from each iterator")
# Your code here