In [1]:
# TUPLE DATATYPE ASSIGNMENT
# ========================

# SOLVED EXAMPLE
# --------------
# Question: Find the sum and product of all elements in a tuple
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

# ASSIGNMENT QUESTIONS
# ===================

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [58]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")
nums = tuple(range(1,11))
print(nums)
type(nums)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

In [3]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(tuple1))

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10

In [8]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
tuple1 =('a', 'b', 'c', 'd', 'e')
print(tuple1[2])

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
c

In [19]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
tuple1 = (23, 45, 12, 67, 34, 89, 56)
max_num = 0
for i in tuple1:
    if max_num < i:
     max_num = i
print(max_num)

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
89

In [ ]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
# Method 1
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
tuple1 = (1, 5, 2, 5, 3, 5, 4, 5, 6)
print(tuple1.count(5))

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
4

In [ ]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
# Method 2 
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
tuple1 = (1, 5, 2, 5, 3, 5, 4, 5, 6)
count =0
for i in tuple1:
    if i == 5:
        count+=1
print(count)

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
4

In [27]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
tuple1 = (4,4.4,'Python',True)
print(tuple1)
type(tuple1)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(4, 4.4, 'Python', True)

tuple

In [ ]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
# Method 1
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
tuple1=('java', 'python', 'c++', 'javascript')
print(tuple1.index('python'))

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
1

In [43]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
# Method 1
tuple1 = ('java', 'python', 'c++', 'javascript')
index = 0
for ch in tuple1:
    if ch == 'python':
        print(index)
        break
    index += 1

1

In [56]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
tuple1 = (10, 20, 30, 40, 50)
num1 = 25
if num1 in tuple1:
    print(f"{num1} exists")
else:
    print(f"{num1} not exists")

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
25 not exists

In [ ]:
# Question 9: Create a tuple of first 5 even numbers
# Method 1
print("\nQuestion 9: Create a tuple of first 5 even numbers")
even_nums = tuple(range(2,12,2))
print(even_nums)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [9]:
# Question 9: Create a tuple of first 5 even numbers
# Method 2
print("\nQuestion 9: Create a tuple of first 5 even numbers")
tuple1 = ()
for i in range(1,12):
    if i%2==0:
        tuple1 += (i,)
print(tuple1)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [13]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
# Method 1 
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
tuple1 = (15, 23, 31, 42, 56, 78)
print(sum(tuple1)/len(tuple1))

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336

In [14]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
# Method 2 using loops
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
tuple1 = (15, 23, 31, 42, 56, 78)
tot_sum = 0
for i in tuple1:
    tot_sum += i
print(tot_sum/len(tuple1))

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336